#container
{
	margin: 0 auto;
	width: 900px;
	background: #fff;
	font-family: "Lucida Grande", "Bitstream Vera Sans", "Verdana";
	box-shadow: 0 10px 16px 0 rgba(0,0,0,0.2),0 6px 20px 0 rgba(0,0,0,0.19);
}

#header
{
	background: #ccc;
	padding: 20px;
}

#header h1 
{ 
	margin: 0; 
	font-size: 2.5em;
}

#header p 
{ 
	margin: 0;
	padding: 0;
	font-size: 1em;
}

a {color: #03c; text-decoration: none;}
a img {border:none;}
a:visited { color: #03c; }
a:hover {
 background-color: #03c;
 color: white;
 text-decoration: none;
}

#navigation
{
	float: left;
	width: 900px;
	background: #333;
}

#navigation ul
{
	margin: 0;
	padding: 0;
}

#navigation ul li
{
	list-style-type: none;
	display: inline;
}

#navigation li a
{
	display: block;
	float: left;
	padding: 5px 10px;
	color: #fff;
	text-decoration: none;
	border-right: 1px solid #fff;
}

#navigation li a:hover { background: #383; }

#navigation li.active a {
    background: #383;
}

/*#biblio 
{
	font-size: .8em;
	list-style: none;
	text-indent: 0px;
	padding: 0px;
	margin: 0px;
}

#biblio li
{ 
	padding-bottom: 20px; 
}

span.bibtitle { font-weight: bold; }

span.bibpub { font-style: italic; }*/

#content-container
{
	float: left;
	width: 900px;
}


.tab-content
{
	min-height: calc(100vh - 30vh);
}

.tab-pane
{
	margin: 0 20px;
}

#home, #people, #projects, #press {
    margin-top: 2em;
}

#home .logo {
	text-align: center;
}

#home .logo img{
	display: inline-block;
	margin: 1em;
}

#people .table, #projects .table{
    font-size: 1em;
}

#projects .table img {
	margin: 0 auto;
}

#projects .table span {
	text-align: center;
}

/*#content_side
{
	clear: left;
	float: left;
	width: 560px;
	padding: 20px 0;
	margin: 0 0px 0 30px;
	display: inline;
}*/


#content p
{
	font-size: .8em;
}

#content h2 { margin: 0; }

#content ul li
{
	padding-bottom: 5px;
}

#content ul li a
{
	text-decoration: none;
}

#content a
{
	text-decoration: none;
}

#footer
{
	clear: left;
	background: #ccc;
	text-align: right;
	padding: 20px;
}

/*#aside  
{       
    float: right;
    width: 240px;
    padding: 20px 0;
    margin: 0 20px 0 0;
    display: inline; 
}       

#aside h3 { margin: 0; }
*/