#container
{
	margin: 0 auto;
	width: 900px;
	background: #fff;
	font-family: "Lucida Grande", "Bitstream Vera Sans", "Verdana";
	box-shadow: 0 10px 16px 0 rgba(0,0,0,0.2),0 6px 20px 0 rgba(0,0,0,0.19);
}

#header
{
	background: #ccc;
	padding: 20px;
}

#header h1 
{ 
	margin: 0;
	margin-bottom: .3em;
	font-size: 2em;
}

#header p 
{ 
	margin: 0;
	padding: 0;
	top: 1em;
	font-size: 1em;
	text-align: left;
}

#header .logo 
{ 
	float: right;
	width: 20%;
	display: inline;
}

#header h1 
{ 
	text-align: left;
}

a {color: #03c; text-decoration: none;}
a img {border:none;}
a:visited { color: #03c; }
/*a:hover {
 background-color: #03c;
 color: white;
 text-decoration: none;
}*/

#navigation
{
	float: left;
	width: 900px;
	background: #333;
}

#navigation ul
{
	margin: 0;
	padding: 0;
}

#navigation ul li
{
	list-style-type: none;
	display: inline;
}

#navigation li a
{
	display: block;
	float: left;
	padding: 5px 10px;
	color: #fff;
	text-decoration: none;
	border-right: 1px solid #fff;
}

#navigation li a:hover { background: #383; }

#navigation li.active a {
    background: #383;
}

#content-container
{
	float: left;
	width: 900px;
}


.tab-content
{
	min-height: calc(100vh - 30vh);
}

.tab-pane
{
	margin: 0 20px;
}

#home, #people, #projects, #press, #videos{
    margin-top: 2em;
}

#home .logo {
	text-align: center;
}

#home .logo img{
	display: inline-block;
	margin: 1em;
}

#people .table, #projects .table, #press .table {
    font-size: 1em;
}

#projects .table img {
	margin: 0 auto;
}

#projects .table span {
	text-align: center;
}

#publications ul li, #publications .publications {
	padding-top: 1em;
}

#videos div {
	padding-bottom: 1em;
}

#videos iframe {
	margin-bottom: 1em;
}

#videos .caption {
	font-size: 1em;
}

#content p
{
	font-size: .8em;
}

#content h2 { margin: 0; }

#content ul li
{
	padding-bottom: 5px;
}

#content ul li a
{
	text-decoration: none;
}

#content a
{
	text-decoration: none;
}

#footer
{
	clear: left;
	background: #ccc;
	text-align: right;
	padding: 20px;
}